@font-face {
    font-family: 'Sansation';
    src: url('../fonts/sansation-regular-webfont.eot');
    src: url('../fonts/sansation-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sansation-regular-webfont.woff') format('woff'),
         url('../fonts/sansation-regular-webfont.ttf') format('truetype'),
         url('../fonts/sansation-regular-webfont.svg#Sansation') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

p { line-height: 1.5em; margin-top: 0; }

/*////////////////////////////////////////////////////////////////*/
/* BODY                                                           */
/*////////////////////////////////////////////////////////////////*/
body {
	background: #233644;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
}

/*////////////////////////////////////////////////////////////////*/
/* HEADINGS                                                       */
/*////////////////////////////////////////////////////////////////*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Sansation', sans-serif;
	font-weight: normal;
	margin: 0 0 20px 0;
}

h1 { color: #233644; font-size: 48px; }

/*////////////////////////////////////////////////////////////////*/
/* LINKS                                                          */
/*////////////////////////////////////////////////////////////////*/
a, a:active, a:visited { color: #000; text-decoration: none; }
a:hover { text-decoration: underline; }

/*////////////////////////////////////////////////////////////////*/
/* HELPER CLASSES                                                 */
/*////////////////////////////////////////////////////////////////*/
.none { display: none; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }

/*////////////////////////////////////////////////////////////////*/
/* RESPONSIVE STYLING                                             */
/*////////////////////////////////////////////////////////////////*/

#container {
	margin: 0 auto;
	width: 630px;
}

#logo, #logo a {
	display: block;
	height: 28px;
	width: 219px;
}

header { margin: 20px 0; }

#logo {
	background: url("../images/logo.png") no-repeat;
	margin: 0 auto;
}

#content {
	background: #fff;
	color: #131313;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 20px;
	position: relative;
}

footer { color: #fff; text-align: center; } 

